<div>
    <h1>
        {{ product.name }}
    </h1>
    <p>
        {{ product.description }}
    </p>
    <div>{{ product.price }}</div>
    <a href="{% url 'product_update' product.id %}"> Update</a>
    <a href="{% url 'product_delete' product.id %}"> Delete</a>
    <a href="{% url 'products_list' %}"> Go back to Products list</a>
</div>
<hr>
<div>
    {% for prod in products %}
        <li>
            <a href="{% url 'product_detail' prod.id %}">{{prod.name}}</a>
        </li>
    {% endfor %}
</div>
